/* .App {
  text-align: center;
} */

.App-title {
  font-size: 1.5em;
}
/* .playerCtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.playerDsp {
  text-align: center;
  margin-top: 10px;
}
.tbody {
  height: 400px;
}
.srtBtn {
  margin: 5px;
}